# JOINS / COMBINE DATA

In [1]:
import pandas as pd
import numpy as np

In [4]:
df1 = pd.read_csv('C:/Users/HP/Desktop/Python 1/Day 6 - Demos/diabetes_data1.csv', index_col='PatientID')
df1.head(5)

           Pregnancies  Glucose  DiabetesPedigreeFunction  Outcome
PatientID
PT1001               6      148                     0.627        1
PT1002               1       85                     0.351        0
PT1003               8      183                     0.672        1
PT1004               1       89                     0.167        0
PT1005               0      137                     2.288        1

In [5]:
df1.shape

(20, 4)

In [9]:
df2 = pd.read_csv('C:/Users/HP/Desktop/Python 1/Day 6 - Demos/diabetes_data1_newRows.csv', index_col = 'PatientID')
df2

           Pregnancies  Glucose  DiabetesPedigreeFunction  Outcome
PatientID
PT1022               4       95                     0.161        1
PT1023               6      137                     0.151        0
PT1024               5      136                     0.286        1
PT1025               9       72                     0.280        0
PT1026               5      168                     0.135        1

In [8]:
df2.shape

(5, 4)

In [11]:
data1 = pd.concat([df1,df2])
print(data1.shape)

data1

(25, 4)

           Pregnancies  Glucose  DiabetesPedigreeFunction  Outcome
PatientID
PT1001               6      148                     0.627        1
PT1002               1       85                     0.351        0
PT1003               8      183                     0.672        1
PT1004               1       89                     0.167        0
PT1005               0      137                     2.288        1
PT1006               5      116                     0.201        0
PT1007               3       78                     0.248        1
PT1008              10      115                     0.134        0
PT1009               2      197                     0.158        1
PT1010               8      125                     0.232        1
PT1011               4      110                     0.191        0
PT1012              10      168                     0.537        1
PT1013              10      139                     1.441        0
PT1014               1      189                     0.398        1
PT1015               5      166                     0.587        1
PT1016               7      100                     0.484        1
PT1017               0      118                     0.551        1
PT1018               7      107                     0.254        1
PT1019               1      103                     0.183        0
PT1020               1      115                     0.529        1
PT1022               4       95                     0.161        1
PT1023               6      137                     0.151        0
PT1024               5      136                     0.286        1
PT1025               9       72                     0.280        0
PT1026               5      168                     0.135        1

In [12]:
df3 = pd.read_csv('C:/Users/HP/Desktop/Python 1/Day 6 - Demos/diabetes_data2.csv', index_col = 'PatientID')
print(df3.shape)
df3.head(5)

(7, 2)

            BMI  Age
PatientID
PT1001     33.6   50
PT1002     26.6   31
PT1003     23.3   32
PT1004     28.1   21
PT1005     43.1   33

In [14]:
data2 = pd.concat([data1,df3], axis = 1)
print(data2.shape)
data2

(27, 6)

           Pregnancies  Glucose  DiabetesPedigreeFunction  Outcome   BMI   Age
PatientID
PT1001             6.0    148.0                     0.627      1.0  33.6  50.0
PT1002             1.0     85.0                     0.351      0.0  26.6  31.0
PT1003             8.0    183.0                     0.672      1.0  23.3  32.0
PT1004             1.0     89.0                     0.167      0.0  28.1  21.0
PT1005             0.0    137.0                     2.288      1.0  43.1  33.0
PT1006             5.0    116.0                     0.201      0.0   NaN   NaN
PT1007             3.0     78.0                     0.248      1.0   NaN   NaN
PT1008            10.0    115.0                     0.134      0.0   NaN   NaN
PT1009             2.0    197.0                     0.158      1.0   NaN   NaN
PT1010             8.0    125.0                     0.232      1.0   NaN   NaN
PT1011             4.0    110.0                     0.191      0.0   NaN   NaN
PT1012            10.0    168.0                     0.537      1.0   NaN   NaN
PT1013            10.0    139.0                     1.441      0.0   NaN   NaN
PT1014             1.0    189.0                     0.398      1.0   NaN   NaN
PT1015             5.0    166.0                     0.587      1.0   NaN   NaN
PT1016             7.0    100.0                     0.484      1.0   NaN   NaN
PT1017             0.0    118.0                     0.551      1.0   NaN   NaN
PT1018             7.0    107.0                     0.254      1.0   NaN   NaN
PT1019             1.0    103.0                     0.183      0.0   NaN   NaN
PT1020             1.0    115.0                     0.529      1.0   NaN   NaN
PT1022             4.0     95.0                     0.161      1.0   NaN   NaN
PT1023             6.0    137.0                     0.151      0.0   NaN   NaN
PT1024             5.0    136.0                     0.286      1.0   NaN   NaN
PT1025             9.0     72.0                     0.280      0.0   NaN   NaN
PT1026             5.0    168.0                     0.135      1.0   NaN   NaN
PT1021             NaN      NaN                       NaN      NaN  25.6  30.0
PT1030             NaN      NaN                       NaN      NaN  31.0  26.0

In [15]:
df_left = pd.merge(data1, df3, on = 'PatientID',how = 'left')
df_left

           Pregnancies  Glucose  DiabetesPedigreeFunction  Outcome   BMI   Age
PatientID
PT1001               6      148                     0.627        1  33.6  50.0
PT1002               1       85                     0.351        0  26.6  31.0
PT1003               8      183                     0.672        1  23.3  32.0
PT1004               1       89                     0.167        0  28.1  21.0
PT1005               0      137                     2.288        1  43.1  33.0
PT1006               5      116                     0.201        0   NaN   NaN
PT1007               3       78                     0.248        1   NaN   NaN
PT1008              10      115                     0.134        0   NaN   NaN
PT1009               2      197                     0.158        1   NaN   NaN
PT1010               8      125                     0.232        1   NaN   NaN
PT1011               4      110                     0.191        0   NaN   NaN
PT1012              10      168                     0.537        1   NaN   NaN
PT1013              10      139                     1.441        0   NaN   NaN
PT1014               1      189                     0.398        1   NaN   NaN
PT1015               5      166                     0.587        1   NaN   NaN
PT1016               7      100                     0.484        1   NaN   NaN
PT1017               0      118                     0.551        1   NaN   NaN
PT1018               7      107                     0.254        1   NaN   NaN
PT1019               1      103                     0.183        0   NaN   NaN
PT1020               1      115                     0.529        1   NaN   NaN
PT1022               4       95                     0.161        1   NaN   NaN
PT1023               6      137                     0.151        0   NaN   NaN
PT1024               5      136                     0.286        1   NaN   NaN
PT1025               9       72                     0.280        0   NaN   NaN
PT1026               5      168                     0.135        1   NaN   NaN

In [16]:
df_right = pd.merge(data1, df3, on = 'PatientID',how = 'right')
df_right

           Pregnancies  Glucose  DiabetesPedigreeFunction  Outcome   BMI  Age
PatientID
PT1001             6.0    148.0                     0.627      1.0  33.6   50
PT1002             1.0     85.0                     0.351      0.0  26.6   31
PT1003             8.0    183.0                     0.672      1.0  23.3   32
PT1004             1.0     89.0                     0.167      0.0  28.1   21
PT1005             0.0    137.0                     2.288      1.0  43.1   33
PT1021             NaN      NaN                       NaN      NaN  25.6   30
PT1030             NaN      NaN                       NaN      NaN  31.0   26

In [17]:
df_outer = pd.merge(data1, df3, on = 'PatientID',how = 'outer')
df_outer

           Pregnancies  Glucose  DiabetesPedigreeFunction  Outcome   BMI   Age
PatientID
PT1001             6.0    148.0                     0.627      1.0  33.6  50.0
PT1002             1.0     85.0                     0.351      0.0  26.6  31.0
PT1003             8.0    183.0                     0.672      1.0  23.3  32.0
PT1004             1.0     89.0                     0.167      0.0  28.1  21.0
PT1005             0.0    137.0                     2.288      1.0  43.1  33.0
PT1006             5.0    116.0                     0.201      0.0   NaN   NaN
PT1007             3.0     78.0                     0.248      1.0   NaN   NaN
PT1008            10.0    115.0                     0.134      0.0   NaN   NaN
PT1009             2.0    197.0                     0.158      1.0   NaN   NaN
PT1010             8.0    125.0                     0.232      1.0   NaN   NaN
PT1011             4.0    110.0                     0.191      0.0   NaN   NaN
PT1012            10.0    168.0                     0.537      1.0   NaN   NaN
PT1013            10.0    139.0                     1.441      0.0   NaN   NaN
PT1014             1.0    189.0                     0.398      1.0   NaN   NaN
PT1015             5.0    166.0                     0.587      1.0   NaN   NaN
PT1016             7.0    100.0                     0.484      1.0   NaN   NaN
PT1017             0.0    118.0                     0.551      1.0   NaN   NaN
PT1018             7.0    107.0                     0.254      1.0   NaN   NaN
PT1019             1.0    103.0                     0.183      0.0   NaN   NaN
PT1020             1.0    115.0                     0.529      1.0   NaN   NaN
PT1022             4.0     95.0                     0.161      1.0   NaN   NaN
PT1023             6.0    137.0                     0.151      0.0   NaN   NaN
PT1024             5.0    136.0                     0.286      1.0   NaN   NaN
PT1025             9.0     72.0                     0.280      0.0   NaN   NaN
PT1026             5.0    168.0                     0.135      1.0   NaN   NaN
PT1021             NaN      NaN                       NaN      NaN  25.6  30.0
PT1030             NaN      NaN                       NaN      NaN  31.0  26.0

In [18]:
df_inner = pd.merge(data1, df3, on = 'PatientID',how = 'inner')
df_inner

           Pregnancies  Glucose  DiabetesPedigreeFunction  Outcome   BMI  Age
PatientID
PT1001               6      148                     0.627        1  33.6   50
PT1002               1       85                     0.351        0  26.6   31
PT1003               8      183                     0.672        1  23.3   32
PT1004               1       89                     0.167        0  28.1   21
PT1005               0      137                     2.288        1  43.1   33

#  CLEANING OF DATA

In [19]:
import pandas as pd
import numpy as np

In [22]:
df = pd.read_csv('C:/Users/HP/Desktop/Python 1/Day 6 - Demos/diabetes_sample.csv')
df

,PatientID,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,PT1001,6,148,72,35,250.0,33.6,0.627,50,1
1,PT1002,1,85,66,29,300.0,26.6,0.351,31,0
2,PT1003,8,183,64,0,NaN,23.3,0.672,32,1
3,PT1004,1,89,66,23,94.0,28.1,0.167,21,0
4,PT1005,0,137,40,35,168.0,43.1,2.288,33,1
5,PT1005,0,137,40,35,168.0,43.1,2.288,33,1
6,PT1006,3,78,50,32,88.0,31.0,0.248,26,1
7,PT1007,10,115,0,0,400.0,35.3,0.134,29,0
8,PT1008,2,197,70,45,543.0,30.5,0.158,53,1
9,PT1009,8,125,96,0,0.0,0.0,0.232,54,1
10,PT1009,4,110,92,0,0.0,37.6,0.191,30,0
11,PT1011,10,168,74,0,0.0,38.0,0.537,34,1
12,PT1012,10,139,80,0,0.0,27.1,1.441,57,0
13,PT1013,1,189,60,23,846.0,30.1,0.398,59,1
14,PT1014,5,166,72,19,175.0,25.8,0.587,51,1

In [25]:
print(df.isnull())
print(df.Insulin.isnull())

    PatientID  Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin  \
0       False        False    False          False          False    False
1       False        False    False          False          False    False
2       False        False    False          False          False     True
3       False        False    False          False          False    False
4       False        False    False          False          False    False
5       False        False    False          False          False    False
6       False        False    False          False          False    False
7       False        False    False          False          False    False
8       False        False    False          False          False    False
9       False        False    False          False          False    False
10      False        False    False          False          False    False
11      False        False    False          False          False    False
12      False        False    False          False          False    False
13      False        False    False          False          False    False
14      False        False    False          False          False    False

      BMI  DiabetesPedigreeFunction    Age  Outcome
0   False                     False  False    False
1   False                     False  False    False
2   False                     False  False    False
3   False                     False  False    False
4   False                     False  False    False
5   False                     False  False    False
6   False                     False  False    False
7   False                     False  False    False
8   False                     False  False    False
9   False                     False  False    False
10  False                     False  False    False
11  False                     False  False    False
12  False                     False  False    False
13  False                     False  False    False
14  False                     False  False    False
0     False
1     False
2      True
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
Name: Insulin, dtype: bool

In [27]:
df.Insulin = df.Insulin.fillna(df.Insulin.mean())
df

,PatientID,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,PT1001,6,148,72,35,250.000000,33.6,0.627,50,1
1,PT1002,1,85,66,29,300.000000,26.6,0.351,31,0
2,PT1003,8,183,64,0,216.571429,23.3,0.672,32,1
3,PT1004,1,89,66,23,94.000000,28.1,0.167,21,0
4,PT1005,0,137,40,35,168.000000,43.1,2.288,33,1
5,PT1005,0,137,40,35,168.000000,43.1,2.288,33,1
6,PT1006,3,78,50,32,88.000000,31.0,0.248,26,1
7,PT1007,10,115,0,0,400.000000,35.3,0.134,29,0
8,PT1008,2,197,70,45,543.000000,30.5,0.158,53,1
9,PT1009,8,125,96,0,0.000000,0.0,0.232,54,1
10,PT1009,4,110,92,0,0.000000,37.6,0.191,30,0
11,PT1011,10,168,74,0,0.000000,38.0,0.537,34,1
12,PT1012,10,139,80,0,0.000000,27.1,1.441,57,0
13,PT1013,1,189,60,23,846.000000,30.1,0.398,59,1
14,PT1014,5,166,72,19,175.000000,25.8,0.587,51,1

In [28]:
df.duplicated()

0     False
1     False
2     False
3     False
4     False
5      True
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
dtype: bool

In [31]:
df.duplicated(['PatientID'])

0     False
1     False
2     False
3     False
4     False
5      True
6     False
7     False
8     False
9     False
10     True
11    False
12    False
13    False
14    False
dtype: bool