In [1]:
nl=[]
for x in range(1500, 2701):
    if (x%7==0) and (x%5==0):
        nl.append(str(x))
print (','.join(nl))

1505,1540,1575,1610,1645,1680,1715,1750,1785,1820,1855,1890,1925,1960,1995,2030,2065,2100,2135,2170,2205,2240,2275,2310,2345,2380,2415,2450,2485,2520,2555,2590,2625,2660,2695

In [2]:
import pandas as pd
data= pd.read_csv('https://raw.githubusercontent.com/naveenkumark1/Py_Stat_DS_ML_B2/main/service.csv')
data

   YearsOfService
0              10
1               5
2              17
3              12
4               7

In [2]:
import pandas as pd
import numpy as np
data = pd.read_csv('C:/Users/HP/Desktop/Ek_Assignment/cereal.csv', index_col = 'type')

data

,name,mfr,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
type,,,,,,,,,,,,,,,
C,100% Bran,N,70,4,1,130,10.0,5.0,6,280.0,25,3,1.0,0.33,68.402973
C,100% Natural Bran,Q,120,3,5,15,2.0,8.0,8,135.0,0,3,1.0,1.00,33.983679
C,All-Bran,K,70,4,1,260,9.0,7.0,5,320.0,25,3,1.0,0.33,59.425505
C,All-Bran with Extra Fiber,K,50,4,0,140,14.0,8.0,0,330.0,25,3,1.0,0.50,93.704912
C,Almond Delight,R,110,2,2,200,1.0,14.0,8,NaN,25,3,1.0,0.75,34.384843
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
C,Triples,G,110,2,1,250,0.0,21.0,3,60.0,25,3,1.0,0.75,39.106174
C,Trix,G,110,1,1,140,0.0,13.0,12,25.0,25,2,1.0,1.00,27.753301
C,Wheat Chex,R,100,3,1,230,3.0,17.0,3,115.0,25,1,1.0,0.67,49.787445
C,Wheaties,G,100,3,1,200,3.0,17.0,3,110.0,25,1,1.0,1.00,51.592193
C,Wheaties Honey Gold,G,110,2,1,200,1.0,16.0,8,60.0,25,1,1.0,0.75,36.187559

In [1]:
from bs4 import BeautifulSoup
data= BeautifulSoup('https://raw.githubusercontent.com/naveenkumark1/Py_Stat_DS_ML_B2/main/service.csv')
print(data)

<html><body><p>https://raw.githubusercontent.com/naveenkumark1/Py_Stat_DS_ML_B2/main/service.csv</p></body></html>

C:\Users\HP\anaconda3\lib\site-packages\bs4\__init__.py:404: MarkupResemblesLocatorWarning: The input looks more like a URL than markup. You may want to use an HTTP client like requests to get the document behind the URL, and feed that document to Beautiful Soup.
  warnings.warn(

In [5]:
n = int(input())
print(*range(1, n+1), sep='')

5
12345

In [18]:
s = input()
for i in s:
    if i.isalnum():
        print(True)
    else:
        print(False)
        break
    if i.isalpha():
        print(True)
    else:
        print(False)
    if i.isdigit():
        print(True)
    else:
        print(False)
    if i.islower():
        print(True)
    else:
        print(False)
    if i.isupper():
        print(True)
    else:
        print(False)

Ad3
True
True
False
False
True
True
True
False
True
False
True
False
True
False
False

In [20]:
S = input()
print(any([char.isalnum() for char in S]))

dd
True

In [5]:
color_list_1 = set(["White", "Black", "Red"])
color_list_2 = set(["Red", "Green"])
print(color_list_1.difference(color_list_2))

{'White', 'Black'}

In [13]:
a = int(input("Enter First No.:\n"))
b = int(input("Enter Second No.:\n"))
if a%b==0:
    print("Greatest Common Divisor:\n", b)
for k in range(int(b),0,-1):
    if a%k==0 and b%k == 0:
        print(k)
        break

Enter First No.:
25
Enter Second No.:
30
5

In [12]:
def gcd(x,y):
    gcd = 1
    if x%y==0:
        return y
    for k in range(int(y),0,-1):
        if x%k==0 and y%k==0:
            gcd = k
            break
    return gcd
    
print("GCD of 34 & 56: ",gcd(34,56))
print("GCD of 56 & 8: ",gcd(56,8))
print("GCD of 60 & 25: ",gcd(60,25))

GCD of 34 & 56:  2
GCD of 56 & 8:  8
GCD of 60 & 25:  5

In [16]:
def lcm(x,y):
    lcm = 1
    if x%y==0:
        return x
    for k in range(int(y),0,-1):
        if x%k==0 and y%k==0:
            lcm = (x/k)*(y/k)*k
            break
        else:
            lcm = x*y
    return lcm
print("lcm of 25 &30: ",lcm(25,30))
print("lcm of 25 & 5: ",lcm(25,5))
print("lcm of 25 & 19: ",lcm(25,19))

lcm of 25 &30:  150.0
lcm of 25 & 5:  25
lcm of 25 & 19:  475.0

In [18]:
def add_two(x,y):
    if not (isinstance(x, int) and isinstance(y, int)):
        return "Input should be Integer"
    return x+y
print(add_two(25,36))
print(add_two(25.02,23))

61
Input should be Integer