# Probability

In [1]:
import numpy as np 
import pandas as pd

In [3]:
df = pd.read_csv(r'C:\Users\HP\Desktop\Demos Files\Day 11 - Demos (1)\Day 11 - Demos\marveldata.csv')
df.head()

,page_id,name,urlslug,ID,ALIGN,EYE,HAIR,SEX,GSM,ALIVE,APPEARANCES,FIRST APPEARANCE,Year
0,1678,Spider-Man (Peter Parker),\/Spider-Man_(Peter_Parker),Secret Identity,Good Characters,Hazel Eyes,Brown Hair,Male Characters,NaN,Living Characters,4043.0,Aug-62,1962.0
1,7139,Captain America (Steven Rogers),\/Captain_America_(Steven_Rogers),Public Identity,Good Characters,Blue Eyes,White Hair,Male Characters,NaN,Living Characters,3360.0,Mar-41,1941.0
2,64786,"Wolverine (James \""Logan\"" Howlett)",\/Wolverine_(James_%22Logan%22_Howlett),Public Identity,Neutral Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,3061.0,Oct-74,1974.0
3,1868,"Iron Man (Anthony \""Tony\"" Stark)",\/Iron_Man_(Anthony_%22Tony%22_Stark),Public Identity,Good Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,2961.0,Mar-63,1963.0
4,2460,Thor (Thor Odinson),\/Thor_(Thor_Odinson),No Dual Identity,Good Characters,Blue Eyes,Blond Hair,Male Characters,NaN,Living Characters,2258.0,Nov-50,1950.0

In [4]:
df.shape

(16376, 13)

In [5]:
x = len(df['name'])
x

16376

In [6]:
marvel = df[['SEX','HAIR','EYE']]
marvel

                   SEX        HAIR         EYE
0      Male Characters  Brown Hair  Hazel Eyes
1      Male Characters  White Hair   Blue Eyes
2      Male Characters  Black Hair   Blue Eyes
3      Male Characters  Black Hair   Blue Eyes
4      Male Characters  Blond Hair   Blue Eyes
...                ...         ...         ...
16371  Male Characters     No Hair  Green Eyes
16372  Male Characters        Bald   Blue Eyes
16373  Male Characters        Bald  Black Eyes
16374  Male Characters         NaN         NaN
16375              NaN         NaN         NaN

[16376 rows x 3 columns]

In [10]:
char = df.groupby(['SEX']).count()['name']
char

SEX
Agender Characters           45
Female Characters          3837
Genderfluid Characters        2
Male Characters           11638
Name: name, dtype: int64

In [12]:
p_m = char['Male Characters']/x
p_m

0.7106741573033708

In [13]:
## Joint probabaility: probabilty of female having red color hair
p_f = char['Female Characters']/x
p_f

0.23430630190522717

In [15]:
hair = df.groupby(['HAIR']).count()['name']
hair

HAIR
Auburn Hair                78
Bald                      838
Black Hair               3755
Blond Hair               1582
Blue Hair                  56
Bronze Hair                 1
Brown Hair               2339
Dyed Hair                   1
Gold Hair                   8
Green Hair                117
Grey Hair                 531
Light Brown Hair            6
Magenta Hair                5
No Hair                  1176
Orange Hair                43
Orange-brown Hair           3
Pink Hair                  31
Purple Hair                47
Red Hair                  620
Reddish Blond Hair          6
Silver Hair                16
Strawberry Blond Hair      47
Variable Hair              32
White Hair                754
Yellow Hair                20
Name: name, dtype: int64

In [17]:
red_hair = hair['Red Hair']/x
red_hair

0.03786028334147533

In [19]:
P_f_red_hair = p_f*red_hair
P_f_red_hair

0.008870902978825162

In [20]:
percentage = P_f_red_hair*100
percentage

0.8870902978825161

In [22]:
green_eyes = df[df=='Green Eyes'].EYE.count()
green_eyes

613

In [23]:
f_char = df[df=='Female Characters'].SEX.count()
f_char

3837

In [24]:
prob_female = f_char/x
prob_female

0.23430630190522717

In [25]:
prob_f_green = green_eyes/x
prob_f_green

0.03743282852955545

In [27]:
## condition probability
prob_f_green/prob_female

0.1597602293458431

In [28]:
living_char = df.groupby(['ALIVE']).count()['ID']
living_char

ALIVE
Deceased Characters    3116
Living Characters      9490
Name: ID, dtype: int64

In [29]:
l = living_char[1]
print(l)

9490

In [30]:
prob_liv = l/x
prob_liv

0.5795065950170982

In [32]:
prob_alive = 1-prob_liv
prob_alive

0.4204934049829018

In [33]:
odds = prob_liv/prob_alive

In [34]:
odds

1.3781585826314262

# Baye's Theorem

In [35]:
titanic = pd.read_csv(r"C:\Users\HP\Desktop\Demos Files\Day 11 - Demos (1)\Day 11 - Demos\titanic.csv")
titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [37]:
titanic = titanic[['Survived','Sex']]
titanic

     Survived     Sex
0           0    male
1           1  female
2           1  female
3           1  female
4           0    male
..        ...     ...
886         0    male
887         1  female
888         0  female
889         1    male
890         0    male

[891 rows x 2 columns]

In [39]:
num_rows = titanic.shape[0]
num_rows
survived = titanic[titanic['Survived']==1]['Survived'].count()
survived

342

In [40]:
not_survived = titanic[titanic['Survived']==0]['Survived'].count()
not_survived

549

In [44]:
prob_female_survived = len(titanic[(titanic['Survived']==1)&(titanic['Sex']=='female')])/len(titanic[titanic['Sex']=='female'])

In [45]:
prob_female_survived

0.7420382165605095