# Inferential Statistics

# 1. Margin of error and confidence intervel

In [3]:
import numpy as np
import pandas as pd
from sklearn.datasets import load_boston
from sklearn.utils import shuffle

In [4]:
boston = load_boston()
x, y = shuffle(boston.data, boston.target,random_state = 13)

C:\Users\HP\anaconda3\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function load_boston is deprecated; `load_boston` is deprecated in 1.0 and will be removed in 1.2.

    The Boston housing prices dataset has an ethical problem. You can refer to
    the documentation of this function for further details.

    The scikit-learn maintainers therefore strongly discourage the use of this
    dataset unless the purpose of the code is to study and educate about
    ethical issues in data science and machine learning.

    In this special case, you can fetch the dataset from the original
    source::

        import pandas as pd
        import numpy as np


        data_url = "http://lib.stat.cmu.edu/datasets/boston"
        raw_df = pd.read_csv(data_url, sep="\s+", skiprows=22, header=None)
        data = np.hstack([raw_df.values[::2, :], raw_df.values[1::2, :2]])
        target = raw_df.values[1::2, 2]

    Alternative datasets include the California housing dataset (i.e.
    :func:`~sklearn.datasets.fetch_california_housing`) and the Ames housing
    dataset. You can load the datasets as follows::

        from sklearn.datasets import fetch_california_housing
        housing = fetch_california_housing()

    for the California housing dataset and::

        from sklearn.datasets import fetch_openml
        housing = fetch_openml(name="house_prices", as_frame=True)

    for the Ames housing dataset.

  warnings.warn(msg, category=FutureWarning)

In [5]:
df = pd.DataFrame(boston.data,columns = boston['feature_names'])
df['target'] = boston.target
df

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,target
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1.0,273.0,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1.0,273.0,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1.0,273.0,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1.0,273.0,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0.0,0.573,6.030,80.8,2.5050,1.0,273.0,21.0,396.90,7.88,11.9

In [7]:
## Generate sample
sample_size = 200
sample = df.sample(n = sample_size, random_state = 1)
sample

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,target
307,0.04932,33.0,2.18,0.0,0.472,6.849,70.3,3.1827,7.0,222.0,18.4,396.90,7.53,28.2
343,0.02543,55.0,3.78,0.0,0.484,6.696,56.4,5.7321,5.0,370.0,17.6,396.90,7.18,23.9
47,0.22927,0.0,6.91,0.0,0.448,6.030,85.5,5.6894,3.0,233.0,17.9,392.74,18.80,16.6
67,0.05789,12.5,6.07,0.0,0.409,5.878,21.4,6.4980,4.0,345.0,18.9,396.21,8.10,22.0
362,3.67822,0.0,18.10,0.0,0.770,5.362,96.2,2.1036,24.0,666.0,20.2,380.79,10.19,20.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
459,6.80117,0.0,18.10,0.0,0.713,6.081,84.4,2.7175,24.0,666.0,20.2,396.90,14.70,20.0
157,1.22358,0.0,19.58,0.0,0.605,6.943,97.4,1.8773,5.0,403.0,14.7,363.43,4.59,41.3
340,0.06151,0.0,5.19,0.0,0.515,5.968,58.5,4.8122,5.0,224.0,20.2,396.90,9.29,18.7
186,0.05602,0.0,2.46,0.0,0.488,7.831,53.6,3.1992,3.0,193.0,17.8,392.63,4.45,50.0
372,8.26725,0.0,18.10,1.0,0.668,5.875,89.6,1.1296,24.0,666.0,20.2,347.88,8.88,50.0

In [9]:
import math
from scipy import stats

In [23]:
sample_mean = sample.target.mean()
np.random.seed(1)
z_critical = stats.norm.ppf(q = 0.975)  
pop_stdev = sample.target.std()
margin_of_error = z_critical * (pop_stdev/math.sqrt(sample_size))
confidence_interval = (sample_mean - margin_of_error,
                       sample_mean + margin_of_error) 
print(z_critical)
print(margin_of_error)
print(confidence_interval)

1.959963984540054
1.3275186301421031
(21.8579813698579, 24.513018630142103)

# 2. Hypothesis Test

In [1]:
import numpy as np 
import pandas as pd
from sklearn.datasets import load_boston
from sklearn.utils import shuffle

In [4]:
boston = load_boston()
x, y = shuffle(boston.data, boston.target, random_state = 13)

In [6]:
df = pd.DataFrame(boston.data,columns = boston['feature_names'])
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [8]:
df['target'] = boston.target
pop_target = df.target
mu = pop_target.mean()
sigma = pop_target.std()
print('Population mean: ',mu,'\nPopulation Satandard deviation: ',sigma)

Population mean:  22.532806324110698
Population Satandard deviation:  9.19710408737982

In [10]:
sample_size = 100
sample = df.sample(n = sample_size, random_state = 4).target
sample_mu = sample.mean()
sample_sigma = sample.std()
print('sample mean: ',sample_mu, '\nsSampel Standard deviation: ',sample_sigma)

sample mean:  23.611
sSampel Standard deviation:  9.668514922576312

In [12]:
## null hyposthesis: population mean = sample mean
import math
from scipy import stats
z_critical = stats.norm.ppf(q = 0.975)
SE = sigma/np.sqrt(sample_size)
z_stat = (sample_mu-mu)/SE
print('Z-critical: ',z_critical, "\nZ-Statistics: ",z_stat)

Z-critical:  1.959963984540054
Z-Statistics:  1.1723186620979855

In [16]:
## One Sample test
stats.ttest_1samp(a =sample,popmean = pop_target.mean())

Ttest_1sampResult(statistic=1.1151595508961605, pvalue=0.2674817704191536)

In [27]:
sigma = sample.std()/math.sqrt(100)
stats.t.interval(0.95,loc = sample.mean(), df=45,scale = sigma)

(21.663661136812784, 25.558338863187217)

In [28]:
## Two sample test
sample2 = df.sample(n=100,random_state =88).target
sample2_mu = sample2.mean()
sample2_std = sample2.std()
print("sample mean: ",sample2_mu,'\nsample2 std: ', sample2_std)

sample mean:  22.099
sample2 std:  8.587005628073483

In [29]:
print(stats.ttest_ind(a= sample,
                b= sample2,
                equal_var=False))

Ttest_indResult(statistic=1.169261841237422, pvalue=0.24372341056286792)