# Descriptive Statistics
Case Study: Descriptive Analysis of Super Market Data 
In this case study, you will perform simple descriptive analysis on data.

In [1]:
import numpy as np
import pandas as pd
import scipy.stats

In [3]:
df = pd.read_csv("C:/Users/HP/Desktop/Demos Files/Day 9 - Demos/supermarket.csv")

In [4]:
df

           ProductCode              Date   Amount  Received Cash CashierName
0      LBVT18010004435  01-05-2018 12:36  1121.20        1121.20       MAYTE
1      LBVT18010004436  01-05-2018 12:37    18.50          20.00       MAYTE
2      LBVT18010004437  01-05-2018 12:38   160.00         200.00       MAYTE
3      LBVT18010004438  01-05-2018 12:47   397.50         397.50       MAYTE
4      LBVT18010004439  01-05-2018 12:48    22.00          50.00       MAYTE
...                ...               ...      ...            ...         ...
84876  LBVT18070002269  31-08-2018 17:03    16.32          16.32   JAQUELINE
84877  LBVT18070002270  31-08-2018 17:04    28.32          28.32   JAQUELINE
84878  LBVT18070002271  31-08-2018 17:06    21.36          50.00   JAQUELINE
84879  LBVT18070002272  31-08-2018 17:27    50.00          50.00   JAQUELINE
84880  LBVT18070002273  31-08-2018 17:36    30.14          50.00   JAQUELINE

[84881 rows x 5 columns]

In [5]:
## Central tendancy
print("Mean od Amount: ", round(df.Amount.mean(),2))
print("Median of Amount: ", round(df.Amount.median(),2))

Mean od Amount:  189.78
Median of Amount:  95.0

In [6]:
## Measure of dispersion
print("Range of Amount: ", np.ptp(df.Amount, axis = 0))
from scipy.stats import iqr
print("IQR of Amount: ", iqr(df.Amount, axis = 0))
print("Standard Deviation: ",round(np.std(df.Amount, axis = 0)))
print("Variance: ", round(np.var(df.Amount, axis = 0)))

Range of Amount:  15036.8
IQR of Amount:  189.7
Standard Deviation:  284
Variance:  80674

In [11]:
### Measure of position
print("20th percentile: ",np.percentile(df.Amount, 20, axis = 0))
print("3rd Quartile: ", df.Amount.quantile(0.75))
from scipy.stats import zscore
print("zscore for all value in Amount", zscore(df.Amount))

20th percentile:  30.0
3rd Quartile:  227.7
zscore for all value in Amount 0        3.279287
1       -0.603037
2       -0.104852
3        0.731325
4       -0.590714
           ...
84876   -0.610712
84877   -0.568463
84878   -0.592967
84879   -0.492133
84880   -0.562055
Name: Amount, Length: 84881, dtype: float64