In [2]:
def char_frequency(str1):
    dic = {}
    for n in str1:
        keys = dic.keys()
        if n in keys:
            dic[n] +=1
        else:
            dic[n] = 1
    return dic
print(char_frequency("jupyternotebook"))

{'j': 1, 'u': 1, 'p': 1, 'y': 1, 't': 2, 'e': 2, 'r': 1, 'n': 1, 'o': 3, 'b': 1, 'k': 1}

In [3]:
str1 = "dharmendra"
str2 = str1[0:2]+str1[-2:]
print(str2)

dhra

In [4]:
def string(str1):
    if len(str1)<=2:
        return "Empty string"
    else:
        return str1[0:2]+str1[-2:]
print(string("Kushwah"))
print(string("bh"))

Kuah
Empty string

In [7]:
def change_char(str1):
    char = str1[0]
    str1 = str1.replace(char,'$')
    str1 = char+str1[1:]
    return str1
print(change_char("dharmendra"))

dharmen$ra

In [8]:
str1, str2 = "abc", "xyz"
str_1 = str2[:2]+str1[2:]
str_2 = str1[:2]+str2[2:]
print(str_1,str2)

xyc xyz

In [10]:
str1 = input()
if str1[-3:]=="ing":
    new_str = str1+'ly'
    print(new_str)
else:
    new_str = str1+"ing"
    print(new_str)

sing
singly

In [11]:
str1 = input()
if str1[-3:]=="ing":
    new_str = str1+'ly'
    print(new_str)
else:
    new_str = str1+"ing"
    print(new_str)

play
playing

In [12]:
def given_str(str1):
    if str1[-3:]=="ing":
        return str1+"ly"
    else:
        return str1+"ing"
print(given_str("Learn"))
print(given_str("singing"))

Learning
singingly

In [15]:
def remove_char(word,n):
    first_part = word[:n]
    second_part = word[n+1:]
    return first_part+second_part
print(remove_char("Dharmendra",2))
print(remove_char("Dharmendra",5))
print(remove_char("Dharmendra",0))

Dhrmendra
Dharmndra
harmendra

In [18]:
str1 = "Dharmendra"
new_str = str1[-1:]+str1[1:-1]+str1[0:1]
print(new_str)

aharmendrD

In [19]:
str1 = "Dharmendra"
new_str = str1[1::2]

In [21]:
print(new_str)

hreda

In [22]:
str1 = input()
print("lower case: ",str1.lower())
print("Upper case: ",str1.upper())

Dharmendra Kushwah
lower case:  dharmendra kushwah
Upper case:  DHARMENDRA KUSHWAH