In [3]:
#logical operator (And, or,Not)
print(10<50 and 20<100)
print(10<50 or 100<20)
print(not(10<50))

True
True
False

In [9]:
# Identity operator: checks if they are same object is or is not
a = 10
print(id(a))
b = 10
print(id(b))
a is b
a = [1,2,3]
b = [1,2,3]
a is b

3122204863056
3122204863056

False

In [10]:
#Membership operator (in and not in)
a = [1,2,3,4,5,6,7,8]
print(3 in a)
print(3 not in a)

True
False

In [ ]:
#variables
a = 10

In [13]:
## Number
print(type(10))
print(type(10.0))
print(type(10+14j))

<class 'int'>
<class 'float'>
<class 'complex'>

In [15]:
#strings
print(type('10221561'))
print(type('Dharmendra'))

<class 'str'>
<class 'str'>

In [16]:
a = 10
b = 15.1566
c =  'Dharmendra'
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'str'>

In [18]:
#List: Mutable
a = [1,2,3]
print(type(a))

<class 'list'>

In [19]:
## Tupple : Immutable
a = (1,2,3)
print(a)
print(type(a))

(1, 2, 3)
<class 'tuple'>

In [20]:
#set : Unordered and no duplicate : Immutable : No indexing
a = {10,20,10,1,2,2,3,5,4,5,4,4,4}
print(a)
print(type(a))

{1, 2, 3, 4, 5, 20, 10}
<class 'set'>

In [21]:
# Dictionary : Key value pair
a = {'a':10,'b':10,'c':30}
print(a)
print(type(a))
print(a.keys())
print(a.values())

{'a': 10, 'b': 10, 'c': 30}
<class 'dict'>
dict_keys(['a', 'b', 'c'])
dict_values([10, 10, 30])

In [34]:
#indexing
a = ['I','N','D','I','A','N']
#IND
print(a[:3])
print(a[-6:-3])
#Dia
print(a[2:5])
print(a[-4:-1])
#NDIAN
print(a[1:])
print(a[-5:])
print(a[-5:7])
#IND
print(a[:3])
print(a[-6:-3])

['I', 'N', 'D']
['I', 'N', 'D']
['D', 'I', 'A']
['D', 'I', 'A']
['N', 'D', 'I', 'A', 'N']
['N', 'D', 'I', 'A', 'N']
['N', 'D', 'I', 'A', 'N']
['I', 'N', 'D']
['I', 'N', 'D']

In [37]:
#simple mutability and immutability
a = [10,20,30,40]
b = (10,20,30,40)
a[2] = 250
print(a)
b[2] = 250

print(b)

[10, 20, 250, 40]

TypeError: 'tuple' object does not support item assignment